@page "/ArticleAdd"

@using CititorServer.Data.Model
@using CititorServer.Data.Service

@inject IArticleService IArticleService
@inject NavigationManager NavigationManager


<h1>Adicionar Cliente</h1>

<EditForm Model="@article" OnValidSubmit="@ArticleInsert">
    <table>
        @* <tr>
            <td>:</td>
            <td><input type="text" @bind="cliente.IdCliente" required /></td>
        </tr> *@
        <tr>
            <td>Descripción:</td>
            <td><input type="text" @bind="article.descripcionArticulo" required /></td>
        </tr>
        <tr>
            <td>Cantidad:</td>
            <td><input type="text" @bind="article.cantArticulosDispo" /></td>
        </tr>
        <tr>
            <td>Valor:</td>
            <td><input type="text" @bind="article.valor" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Adicionar" />
                <input type="button" value="Cancelar" @onclick="@Cancel" />
            </td>
        </tr>

    </table>

</EditForm>



@code {

    Article article = new Article();

    protected async Task ArticleInsert()
    {
        await IArticleService.ArticleInsert(article);

        NavigationManager.NavigateTo("/");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}