@page "/EditDesign"

@using CititorServer.Data.Model
@using CititorServer.Data.Service

@inject IDesignService IDesignService
@inject NavigationManager NavigationManager


<h1>Editar Diseño</h1>
 <EditForm Model="@design" OnValidSubmit="@DesignUpdateSend">
            <table>
                <tr>
                    Código Diseño:
                    <input type="text" @bind="design.idDiseño" required  class="col-12" />
                </tr> 
                <tr>
                    Url Imagen Diseño:
                    <input type="text" @bind="design.imagenDiseño" required class="col-12" />
                </tr>
                <tr>
                    Fecha:
                    <input type="date" @bind="design.fechaCarga" class="col-12"  />
                </tr>
                <tr>
                    Descripción:
                    <input type="text" @bind="design.descripcion"class="col-12" />
                </tr>
                <tr>
                    Tamaño:
                    <input type="text" @bind="design.Tamaño" class="col-12"/>
                </tr>
                <br>
                <br>
                <tr>
                    <td colspan="2" class="d-flex justify-content-between">
                        <input type="submit" value="Actualizar" class="btn btn-primary btn-lg col-7" />
                        <input type="button" value="Cancelar" class="btn btn-secondary btn-lg col-4" @onclick="@Cancel" />
                      </td>  
                </tr>
            

            </table>

        </EditForm>

@code {

    Design design = new Design();

    protected async Task DesignUpdateSend()
    {   
        if(design.idDiseño != 0 && design.imagenDiseño != null && design.fechaCarga!= null && design.Tamaño!= null){
            await IDesignService.DesignUpdate(design);
        }
      

        NavigationManager.NavigateTo("/");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}